@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

h1{
    /* color: white; */
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 170px 130px 30px;

}
span{
    font-family: 'Architects Daughter', cursive;
    
}
.banner{
    background-image: url("/src/images/bannerbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    margin-left:128px;
}
